@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-responsive-container:focus,
.recharts-wrapper *:focus {
  outline: none !important;
}

.recharts-active-dot {
  transition: all 0.18s ease-in-out; /* smooth fade + movement */
}

.recharts-active-dot circle {
  transition: all 0.18s ease-in-out;
  opacity: 0.9; /* smooth appearance */
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
